%h1 About
%p
  Gobbledygook is an online knowledge database to explain jargon terms of the world of software engineering. It's like Wikipedia, but much more focused, with no claim of scientific accuracy.
  %br
  The main goal is to reduce the barriers for people to understand what's going on in engineering departments and promote the use of an easy to understand language.

%h2 Background
%p
  A few weeks ago I was discussing with a customer care agent at Ricardo how to handle certain requests. This discussion made me realize how much jargon we engineers are using when talking about work and how this is an obstacle for other people to understand what we do, but also it’s a hurdle for newcomers to get into this field of work.
%p
  Part of the engineering culture at Ricardo is to openly share what we’ve learned and transparency. Because of that every Monday I craft a summary post in our general Slack channel summarizing what the SRE team achieved, what were are working on, and what we’ve learned. People appreciate the insights into SRE but I also often got the feedback from that the language used is very domain specific and hard to understand. Apart from trying to use a more approachable language in general, I started to write short explanations for terms we are using as part of this newsletter.
%p
  I’ve been looking for a little project to refresh my Rails knowledge for a while and this seemed like a good idea, thus the idea for Gobbledygook was born. I hope that this (albeit small) collection of jargon explained might be useful for others.
