%h1 Privacy Policy
%p Last updated: February 16, 2021

%p We only store your personal data where technically necessary. The only cookies you see are here to enable automated logins, if you chose to do so. We use Plausible to understand how many people are visiting this homepage.
Have a look at Plausible's
= succeed "." do
  %a{:href => "https://plausible.io/privacy", :target => "_blank"}> Privacy Policy
