%h3
  .text-center
    Users
    .badge.badge-info
      = @users.count
%p
.card-columns
  - @users.each do |user|
    = render 'users/user', user: user

-# = search_form_for @q do |f|
-#   = f.search_field :email_cont, placeholder: 'Email'
-#   = f.search_field :sign_in_count_eq, placeholder: 'Sign-in Count'
-#   -# = f.search_field :email_or_sign_in_count_eq, placeholder: 'Email or Sign-in count'
-#   = f.submit

= link_to users_path, class: 'btn btn-sm btn-secondary' do
  .fa.fa-sync