%li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
  = link_to root_path, class: 'nav-link' do
    .fa.fa-building
    Home
  %li.nav-item{class: "#{'active font-weight-bold' if current_page?(entries_path)}"}
    = link_to entries_path, class: 'nav-link' do
      .fa.fa-graduation-cap
      Entries